@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
html, body {
  -webkit-text-size-adjust: 100%; /* for older WebKit browsers */
  text-size-adjust: 100%;         /* for modern browsers */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  

  /* Manually define the gradient here */
  background-image: linear-gradient(to bottom, #151515, #000000); 
}

/* Hide only Y-axis scrollbar, allow scroll */
.custom-scroll-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.custom-scroll-hide::-webkit-scrollbar {
  width: 0px;             /* Hide vertical scrollbar for Webkit */
  height: auto;           /* Keep horizontal scrollbar */
}

.custom-scroll-hide::-webkit-scrollbar-thumb:vertical {
  display: none;          /* Hide vertical scrollbar thumb */
}


@layer components {
  .loading-spinner {
    @apply animate-spin rounded-full border-2 border-gray-300 border-t-blue-600;
  }
}
